In [7]:
import pandas as pd
birdata = pd.read_csv('bird_tracking.csv')
birdata.columns

Index(['altitude', 'date_time', 'device_info_serial', 'direction', 'latitude',
       'longitude', 'speed_2d', 'bird_name'],
      dtype='object')

In [8]:
birdata.tail()

,altitude,date_time,device_info_serial,direction,latitude,longitude,speed_2d,bird_name
61926,11,2014-04-30 22:00:08+00,833,NaN,51.352572,3.177151,0.247524,Sanne
61927,6,2014-04-30 22:29:57+00,833,NaN,51.352585,3.177144,1.318102,Sanne
61928,5,2014-04-30 22:59:52+00,833,NaN,51.352622,3.177257,2.296908,Sanne
61929,16,2014-04-30 23:29:43+00,833,NaN,51.354641,3.181509,0.586551,Sanne
61930,9,2014-04-30 23:59:34+00,833,NaN,51.354474,3.181057,0.788666,Sanne

In [9]:
birdata.date_time[0:3]

0    2013-08-15 00:18:08+00
1    2013-08-15 00:48:07+00
2    2013-08-15 01:17:58+00
Name: date_time, dtype: object

In [10]:
ix = birdata.bird_name == "Sanne"
date = birdata[ix].date_time
print(date[:1])

40923    2013-08-15 00:01:08+00
Name: date_time, dtype: object

In [11]:
print(date[:-1])

40923    2013-08-15 00:01:08+00
40924    2013-08-15 00:31:00+00
40925    2013-08-15 01:01:19+00
40926    2013-08-15 01:31:38+00
40927    2013-08-15 02:01:24+00
                  ...
61925    2014-04-30 21:29:45+00
61926    2014-04-30 22:00:08+00
61927    2014-04-30 22:29:57+00
61928    2014-04-30 22:59:52+00
61929    2014-04-30 23:29:43+00
Name: date_time, Length: 21007, dtype: object

In [12]:
bird_names = pd.unique(birdata.bird_name)
bird_names

array(['Eric', 'Nico', 'Sanne'], dtype=object)

In [13]:
from numpy import NaN
NaN not in birdata['direction']

True

In [6]:
timestamps = []
for k in range(len(birdata)):
    timestamps.append(dt.datetime.strptime(birdata.date_time.iloc[k][:-3], '%Y-%m-%d %H:%M:%S'))
birdata.timestamp[1]-birdata.timestamp[0]

NameError: name 'dt' is not defined

In [54]:
birdata['timestamp'] = pd.Series(timestamps, index = birdata.index)
birdata.head()

,altitude,date_time,device_info_serial,direction,latitude,longitude,speed_2d,bird_name,timestamp
0,71,2013-08-15 00:18:08+00,851,NaN,49.419859,2.120733,0.191484,Eric,2013-08-15 00:18:08
1,68,2013-08-15 00:48:07+00,851,NaN,49.419880,2.120746,2.739698,Eric,2013-08-15 00:48:07
2,68,2013-08-15 01:17:58+00,851,NaN,49.420310,2.120885,0.360099,Eric,2013-08-15 01:17:58
3,73,2013-08-15 01:47:51+00,851,NaN,49.420359,2.120859,0.039658,Eric,2013-08-15 01:47:51
4,69,2013-08-15 02:17:42+00,851,NaN,49.420331,2.120887,0.107988,Eric,2013-08-15 02:17:42

In [63]:
times = birdata.timestamp[birdata.bird_name == 'Eric']
elapsed = [time - times[0] for time in times]
elapsed[100]

Timedelta('1 days 05:24:41')

In [19]:
import datetime as dt #마이크로초
d = dt.datetime.today()

datetime.datetime(2020, 7, 7, 10, 34, 13, 472803)

In [55]:
time1 = dt.datetime.today()

In [56]:
time2 = dt.datetime.today()
time2 - time1

datetime.timedelta(seconds=28, microseconds=447772)